.container {
    display: flex;
    justify-content: center;
  }

.pie_graph_container {
  display: flex;
  position: relative;
  margin-left: 175px;
  margin-right: 175px;
}

.bar_graph_container {
  display: flex;
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
}
